* {
	margin: 0;
	padding: 0;
	/* without box-sizing border box:

	50px left padding + 50px right padding + 150px width = total width is 250px
	50 px top padding + 50px bottom padding + 150px height = total height is 250px

	with box-sizing border box:

	50px left + 50px right = 100px left-right padding 
	150px width - 100px left-right = width 50px

	*/
	box-sizing: border-box;
}

#box {
	background-color: orange;
	/*border sets the border width, style and color in just one line of code*/
	border:1px solid black;
	/* will add padding in all of the side of our div*/
	/*padding-top:;
	  padding-bottom:;
	  padding-right
	*/
	padding: 50px;
	height: 150px;
	width: 150px;
	
}