* {
	font-family: 'Open Sans', sans-serif;
	/* reset CSS*/
	/* margin 0 and padding 0, deletes the default padding and margin of all the elements of our webpage*/
	/* giving the padding and margin 0, makes it easier for us to manipulate the sizes and positions of our elements. 
	Gives us also the freedom to customise their own spacing*/
	margin:0;
	padding: 0;
	/*box-sizing - defines how the width and height of our element are calculated
	  border-box - will allow us to control the measurement of our elements better. 
	  It includes the padding, border styling of our element to the total height and width 
	  and its computation. 
	*/
	box-sizing: border-box;
}

nav {
	/*list-style-type: none;*/
	border-bottom: 1px solid gray;
	/*rem stands for pixels based on the 'root element' <body>*/
	padding: 0.8rem;
	/*creates space between nav and section intro*/
	margin-bottom: 2rem;
}

nav ul .nav-logo, nav ul .nav {
	list-style-type: none;
	display: inline;
	/* short hand for margin-top, margin-right, margin left and margin-bottom*/
	margin: 0.5rem;
}

#intro {
	text-align: center;
	/* 10% gets it's value from its parent element which is the body tag - 10% from the 100% view of our browser*/
	padding: 10%;
}

section > .header {
	text-align: center;
	margin-bottom: 50px;
}

section p {
	margin-bottom: 55px;
}

#intro button {
	padding: 1rem;
	border-radius: 25px;
	background-color: #c2195b;
	color: white;
	/*changes the thickness of our text*/
	font-weight: bold;
}

#succeed-info > div {
	display: flex;
	padding-left: 10px;
	border-right: 10px; 
	justify-content: space-around;
}

#succeed-info > div > .card {
	margin: 0 15px;
}

#succeed-info > div >  .card > h3 {
	text-align: center;
}




#pre-footer {
	display: flex;
	background-color: #002540;
	color:white;
	justify-content: space-around;


}

#pre-footer > div {
	border-left: 10px
	border-right: 10px;
}

#pre-footer > div > p {
	margin-bottom: 5px;
}


/*#followus {
	margin-top: 50px;
}*/

#contact {
	margin-right: 150px;
}