/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
}

h1, p {
	/*light gray*/
	/* margin: 15px; applied to all sides of margins*/
	background-color: #dde0e3;
	margin: 15px;
	/*margin: 20px 15px;*/ /* 20 px for top-bottom 15px for left-right, this is shortcut */
	/*margin: 20px 5px 30px 10px; *//* TRBL - top-right-bottom-left. put 0px on any sides if you want to skip */
	padding: 10px;
	border: 1px solid red; 
}

em, strong {
	background-color: indianred;
	/*display: block;*/
	display: inline-block;
	/*padding top and bottom  or does not recognise for inline element. it will only recognise left and right*/
	padding: 100px;
	border: 1px solid black;
	/* margin top and bottom does not take effect as well on the inline elements, only the margin left and r ight */
	margin: 50px;
}

/*


inline-block - combined behavior or inline and block elemnets
- has the behavior of inline level display and can set the padding top and bottom and the margin-top and bottom for its spaces.

*/

#strong-tag {
	display: inline-block;
}

/*
	display: inline;
	display: block;
	display: inline-block;
	display: flex;
*/

/*

	flex box - gives us more complete control over the alignment, direction, order and position of our elements (boxes).

*/

.flex-container {
	border: 1px solid black;
	padding: 20px;
	background-color: darkgrey;
	display: flex;
	/* justify-content property - it aligns the flex items, giving them their direction*/
	/*justify-content: center;*/
	/*justify-content: space-between;*/
	/* display: flex; and justify-content: is always pair*/
	/* space around - divides the margin left and right equally for the flex item*/
	justify-content: space-around;
	/*justify-content: flex-end;*/
}

.flex-item {
	/*auto means automatic*/
	height: auto;
	width: 250px;
	background-color: coral;
	border: 1px solid maroon;
	/*display: inline-block;*/
}

.flex-item > h2 {
	text-align: center;
}

.flex-item > img {
	/*inherits the width of parent element (flex-item)*/
	width: inherit;
	/*width: 250px;*/
}